

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #535353;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.selectionBlock{
  margin: 10px 33vw;
  display: inline-flex;
}


 input, select{
  margin: 0 5vmin;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  align-items: center;
  text-transform: uppercase;
}

button{
  width: 150px;
  height: 30px;
  border-radius: 10px;
  align-items: center;
  text-transform: uppercase;
}
.buttonCenter{
  margin: 0 47%;
}

.buttonCenterReset{
  margin: 0 32%;
}

h2, h3{
text-align: center;
}

span.selection{
  width: 130px;
}

#iframeAudio{
  display: none;
}
