

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #535353;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


button, input, select{
  margin: 0 10vh;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  align-items: center;
  text-transform: uppercase;
}

h2{
text-align: center;
}

