.sliceWrapper {
  position: relative;
  margin: auto;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-image: url(./img&sound/pizza.svg);
  background-position: 0;
  background-size: 200px;
}

.slice {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
}

.sliceWrapper li {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
}

.sliceWrapper li:nth-child(7) {
  transform: rotate(0deg) skewY(142deg);
}

.sliceWrapper li:nth-child(6) {
  transform: rotate(51deg) skewY(142deg);
}

.sliceWrapper li:nth-child(5) {
  transform: rotate(102deg) skewY(142deg);
}

.sliceWrapper li:nth-child(4) {
  transform: rotate(153deg) skewY(142deg);
}

.sliceWrapper li:nth-child(3) {
  transform: rotate(204deg) skewY(142deg);
}

.sliceWrapper li:nth-child(2) {
  transform: rotate(256deg) skewY(142deg);
}

.sliceWrapper li:first-child {
  transform: rotate(308deg) skewY(142deg);
}

.sliceWrapper li:first-child .slice {
  background-color: #535353;
}

.sliceWrapper li:nth-child(2) .slice {
  background-color: #535353;
}

.sliceWrapper li:nth-child(3) .slice {
  background-color: #535353;
}

.sliceWrapper li:nth-child(4) .slice {
  background-color: #535353;
}

.sliceWrapper li:nth-child(5) .slice {
  background-color: #535353;
}
.sliceWrapper li:nth-child(6) .slice {
  background-color: #535353;
}

.sliceWrapper li:nth-child(7) .slice {
  background-color: #535353;
}